
.bodyParts {
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 50px!important;
    text-shadow: 2px 2px 2px rgb(175, 175, 175);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    border:  2.5px solid rgb(61 88 107)!important;
    box-shadow: 5px 5px 5px rgb(175, 175, 175);
}


