
.container {
    position: relative;
    justify-content:center;
    align-items: flex-start;
    background: linear-gradient(90deg, rgb(61 88 107) 0%, rgb(88 111 136) 54%, rgb(61 88 107) 100%);
    border-radius: 20px;
    padding: 40px;
    margin: 40px;
    width: 30% !important;
    box-shadow: 5px 5px 5px rgb(175, 175, 175);

} 

.header {
    font-size: 26px;
    text-align: center;
    color: white;
}

p {
    font-size: 15px;
    text-align: center;
    color: white;
}

